<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Success', view: 'success' }) %>

  <body>
    <div class="success-info-contianer">
      <h1>Status: Success</h1>
      <h2>Id de pago: <%= payment_id %></h2>
      <h2>Metodo de pago: <%= payment_method %></h2>
      <h2>Mail de referencia: <%= reference %></h2>
    </div>
  </body>
</html>
