<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
  </head>
  <body>
    <h1>Status: Success</h1>
    <h2>Id de pago: <%= payment_id %></h2>
    <h2>Id de compra: <%= order_id %></h2>
    <h2>Tipo de pago: <%= payment_type %></h2>
    <h2>Mail de referencia: <%= reference %></h2>
  </body>
</html>
